@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

html, body, a {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  color: #777;
  padding: 5%;
  max-width: 1240px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h2 {
  margin: 24px 0;
}

a {
  color: #F7B617;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  background-color: #222;
}

/*
canvas {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

canvas:hover {
  filter: none;
  -webkit-filter: none;
  filter: none;
}
*/
